
html {
    scroll-behavior: smooth;
   }

li {
    margin-bottom: 5pt;
  }

th{
    font-weight: normal;
}
.bold {
    font-weight: bold;
}

.githubLink{
    color:rgb(139, 70, 5);
    font-size: 20px;
    text-decoration: underline;
}
.padded5{
    padding-left: 5%;
}
.padded10{
    padding-left: 10%;
}

.padded15 {
    padding-left: 15%;
}
.padded18 {
    padding-left: 18%;
}

.paddedTop5 {
    margin-top:1.5%;
}
.name {
    font-size: 34pt;
}


.aboutMe{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 7%;
    padding-bottom: 20%;
    color: rgb(8, 79, 13);
    height: 95%;
    background-image: url("images/lookout.JPG") ;
    background-repeat: no-repeat;
    background-size: 100%;
    background-blend-mode: lighten;
}

.overview {
    color: rgb(66, 50, 2);
    color: white;
    text-align: center;
    padding-left: 7%;
    font-size: 24px;
    padding-top: 9%;
    padding-right: 7%;

    font-family: Georgia, Times, 'Times New Roman', serif;

}

.link-images {
    max-height: 2rem;
}

.link-table {
    color:rgb(255, 255, 255);
    font-size: 14pt;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.button {
    border: 7px;
    float:center;
    color: rgb(3, 61, 11);
    padding: 8px 20px;
    text-align: center;
    text-decoration:underline;
    display:inline-flex;
    font-size: 18px;
    margin: 5px 20px;
    border-radius: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgb(104, 188, 125);
}

.underline {
    text-decoration: underline;
}

.emptySpace {
    height:20pt;
}
.emptySpace5 {
    height:5pt;
}
.emptySpace1 {
    height:1pt;
}

.relevantCoursework {
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0;
    padding-left: 1%;
    padding-top: 2%;
    color: rgb(255, 255, 255);
    height: 580pt;
    background-image: linear-gradient(rgb(57, 107, 143), rgb(94, 111, 147));
}

.left-table {
    float: left;
    width: 65%;
    margin-left: 120px;
    text-align: left;
    text-indent: 1%;
    font-size: 19pt;
    height: 12rem;
    color:rgba(255, 255, 255, 0.867);
}

.right-table {
    float: center;
    width:20%;
    text-indent: 9%;
    text-align: left;
    text-anchor: left;
    font-size: 19pt;
    height: 31%;
    color:rgba(255, 255, 255, 0.867);
}

.table-header {
    text-align: left;
    text-decoration: underline;
    text-indent: 0%;
    font-size: 20pt;
    padding-bottom: 1pt;
    padding-top: 3pt;
}

.width30 {
    width:40%;
}

.skills_logos img{
    height: 20px;
    width: 20px;
}

.pastExperiences {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-left: 1%;
    padding-top: 1%;
    color: rgb(0, 7, 1);
    background-image: url("images/tahoe.jpg");
    background-repeat: no-repeat;
    background-size: 100% 115%;
    height: 95%;
}



.jobDescriptions {
    padding-right: 4%;
    padding-top: 1%;
    padding-left: 5%;
    color:rgb(0, 44, 0);
    text-align: left;
    width: 50%;
    float: left;
    font-size: 20;
}

.jobDetails {
    float: left;
    width: 25%;
    font-size: 20;
    padding-bottom: -1%;
    margin-left: 18%;
    padding-top: 1%;
    color: rgb(0, 44, 0);
    text-align: left;
}

.textAlignR {
    text-align: right;
}

.textAlignL {
    text-align: left;
}

.experiences img{
    height: 35px;
    width: 40px;
}


.projects {
    background-image: linear-gradient(rgb(35, 48, 39), rgb(52, 99, 58));
    background-repeat: no-repeat;
    color: rgb(239, 207, 173);
    background-size: 105% 120%;
    background-blend-mode: lighten;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    text-align: center;
    height: 570pt;
    padding-top: 3%;
}

.projectHeader {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
    padding-top: 3%;
    color: rgb(222, 183, 142);
    justify-content: center;
    display: inline-block;
}

.projDetails {
    font-size:22px;
    padding-top: 1%;
    color: rgb(205, 164, 120);
    padding-bottom: 5%;
}

.floatRight {
    background: rgb(116, 66, 5);
    margin: 10px;
    margin-top: 90px;
    padding: 10px;
    width: 48%;
    border: 5px solid rgb(98, 52, 11);
    border-radius: 25px;
    float: right;
}

.floatLeft {
    background: rgb(98, 52, 11);
    margin-top: 45px;
    padding: 10px;
    margin-left: 1%;
    width: 48%;
    border: 5px solid rgb(116, 66, 5);
    border-radius: 25px;
    float: left;
}

.floatBottomLeft {
    background: rgb(222, 183, 142) ;
    margin-top: 285px;
    margin-left: 1%;
    padding: 10px;
    color: rgb(98, 52, 11);
    width: 49%;
    border: 6px solid rgb(116, 66, 5);
    border-radius: 25px;
    float: center;
}
/*
background-image: linear-gradient(rgb(191, 128, 80), rgba(190, 120, 155, 0.815));

background-image: linear-gradient(rgb(38, 66, 46), rgba(28, 55, 35, 0.815));
*/