
html {
    scroll-behavior: smooth;
   }

li {
    margin-bottom: 5pt;
  }

th{
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

.font35 {
    font-size: 570em;
}

.githubLink{
    color:rgba(232, 152, 78, 0.893);
    font-size: 18px;
    text-decoration: underline;
}
.padded5{
    padding-left: 5%;
}
.padded10{
    padding-left: 10%;
}

.padded15 {
    padding-left: 15%;
}
.padded18 {
    padding-left: 18%;
}
.paddingleft5pt {
    padding-left: 5pt;
}
.paddedTop5 {
    margin-top:1.5%;
}
.name {
    font-size: 34pt;
}

.location {
    float:right;
    font-size: 9pt;
    font-style: italic;
    color:rgb(248, 248, 212);
    padding-right: 2%;
    margin-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.aboutMe{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding-top: 7%;
    padding-bottom: 20%;
    color: rgb(19, 70, 4);
    height: 49rem;
    background-image: url("images/lookout.JPG") ;
    background-repeat: no-repeat;
    background-size: 100%;
    background-blend-mode: lighten;
}

.overview {
    color: rgb(66, 50, 2);
    color: white;
    text-align: center;
    padding-left: 7%;
    font-size: 25px;
    padding-top: 9%;
    padding-right: 7%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.link-images {
    max-height: 2rem;
}

.link-table {
    color:rgb(255, 255, 255);
    font-size: 15pt;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.underline {
    text-decoration: underline;
}

.emptySpace {
    height:20pt;
}
.emptySpace60{
    height:120pt;
}
.emptySpace5 {
    height:5pt;
}
.emptySpace1 {
    height:1pt;
}

.relevantCoursework {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0;
    padding-left: 1%;
    padding-top: 2%;
    color: rgb(255, 255, 255);
    height: 580pt;
    background-image: linear-gradient(rgb(57, 107, 143), rgb(94, 111, 147));
}

.left-table {
    float: left;
    width: 65%;
    margin-left: 120px;
    text-align: left;
    text-indent: 1%;
    font-size: 18pt;
    height: 12rem;
    color:rgba(255, 255, 255, 0.867);
}

.right-table {
    float: center;
    width:20%;
    text-indent: 3%;
    text-align: left;
    text-anchor: left;
    font-size: 18pt;
    height: 30%;
    color:rgba(255, 255, 255, 0.867);
}

.table-header {
    text-align: left;
    text-decoration: underline;
    text-indent: 0%;
    font-size: 20pt;
    padding-bottom: 1pt;
    padding-top: 3pt;
}

.width30 {
    width:40%;
}

.skills_logos img{
    height: 20px;
    width: 20px;
}

.pastExperiences {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding-left: 1%;
    padding-top: 1%;
    color: rgb(255, 255, 255);
    /* background-image: url("images/tahoe.jpg");
    background-repeat: no-repeat;
    background-size: 105% 115%;
    background-position: right top; */
    
    background-image: linear-gradient(rgba(52, 78, 49, 0.755), rgba(10, 33, 14, 0.914));
    background-repeat: no-repeat;
    background-size: 105% 120%;
    background-blend-mode: lighten;

    height: 600pt;
}



.jobDescriptions {
    padding-right: 9%;
    padding-top: 1%;
    padding-left: 2%;
    /*color:rgb(0, 44, 0);*/
    color:rgb(243, 248, 243);
    text-align: left;
    width: 55%;
    float: left;
    font-size: 22;
}
.lightGreen {
    color:rgba(184, 227, 175, 0.914);
}
.jobDetails {
    float: left;
    width: 27%;
    font-size: 22;
    padding-bottom: -1%;
    margin-left: 17%;
    padding-top: 1%;
    color:rgb(255, 255, 255);
    text-align: left;
}

.textAlignR {
    text-align: right;
}

.textAlignL {
    text-align: left;
}

.experiences img{
    height: 35px;
    width: 40px;
}


.projects {
    /*background-image: linear-gradient(rgb(1, 33, 3), rgb(52, 99, 58));*/
    /* background-image: linear-gradient(rgba(93, 98, 108, 0.84), rgba(41, 50, 76, 0.809));
    background-repeat: no-repeat;
    background-size: 105% 120%;
    background-blend-mode: lighten; */

    color: rgb(249, 228, 207);
    background-image: url("images/tahoe.jpg");
    background-repeat: no-repeat;
    background-size: 105% 115%;
    background-position: right top;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 38pt;
    text-align: center;
    height: 595pt;
    padding-top: 3%;
}

.projectHeader {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    padding-top: 3%;
    color: rgb(246, 220, 193);
    justify-content: center;
    display: inline-block;
}

.projDetails {
    font-size:22px;
    padding-top: 1%;
    color:rgb(253, 198, 58);
    padding-bottom: 5%;
}

.floatRight {
    background:rgba(10, 33, 14, 0.818) ;
    /* background:rgba(164, 60, 34, 0.79); */
    margin: 10px;
    margin-top: 60px;
    padding: 10px;
    width: 48%;
    border: 6px solid rgba(211, 116, 43, 0.892);
    border-radius: 25px;
    float: right;
}

.floatLeft {
    /* background:rgba(164, 60, 34, 0.79); */
    background:rgba(10, 33, 14, 0.818) ;
    margin-top: 20px;
    padding: 10px;
    margin-left: 1%;
    width: 48%;
    border: 6px solid rgba(211, 116, 43, 0.892);
    border-radius: 25px;
    float: left;
}

.floatBottomLeft {
   /* background: rgb(222, 183, 142) ;*/
    background:rgba(10, 33, 14, 0.818) ;
    margin-top: 255px;
    margin-left: 1%;
    padding: 10px;
    width: 49%;
    border: 6px solid rgba(211, 116, 43, 0.892);
    border-radius: 25px;
    float: center;
}
